* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url("bg1.png");
}

.main-background {
    background-image: url("bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}


header>nav>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 5vh;
}

header>nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 12px 35px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
}

section:first-child {
    height: calc(95vh - 55px);
    position: relative;
    font-family: 'Pacifico', cursive;
}

section:first-child>header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

section:first-child>header>h2 {
    font-size: 60px;
    font-family: arial;
    text-shadow: 0 0 20px black;
}

section:first-child>header>h3 {
    font-size: 25px;
    text-shadow: 0 0 20px black;
    word-spacing: 5px;
}

section:first-child>p {
    position: absolute;
    color: white;
    font-size: 21px;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 8px;
    border: 3px solid white;
    border-radius: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

section:first-child>p:hover {
    padding: 10px 10px;
    background-color: #fff;
    color: black;
    font-size: 24px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.container>h1 {
    font-size: 64px;
    padding: 70px 20px 50px 20px;
}

.item {
    flex-basis: 425px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.my_img {
    flex-basis: 400px;
    background-image: url("me.png");
    background-position: 61% 3%;
    height: 850px;
    background-repeat: no-repeat;
}

i {
    font-size: 80px;
}

article>h4 {
    font-size: 32px;
}

article>p {
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    text-align-last: center;
}


article {
    margin: 20px;
}